.header__row {
  display: flex;
  align-items: center;

  padding: 20px 0;
}
.header__row_logotype {
  margin-right: 50px;
}
.header__row_numbers {
  margin-right: auto;

  font-size: clamp(16px, 0.864rem + 0.68vw, 22px);
  font-weight: 400;
  line-height: 110%;
}
.header__row_button {
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 10px;

    padding: 12px;

    font-size: 22px;
    font-weight: 400;
    line-height: 110%;

    border-radius: 16px;
    background: rgba(43, 54, 64, 0.9);

    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 900px) {
  .header__row {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 20px;
  }

  .header__row_button {
    margin-right: unset;
  }

  .header__row_logotype {
    margin-right: unset;
  }

  .header__row_numbers {
    margin-right: unset;
  }
}
