.favourites {
}

.favourites__title {
  margin: 60px 0;
}

.favourites__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .favourites__list {
    grid-template-columns: 1fr;
  }
}

