.header {
  height: 100vh;

  background-image: url(/src/images/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &_calculator {
    height: 80vh;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: clamp(40px, 0.682rem + 9.09vw, 120px);

  &_calculator {
    margin-top: clamp(40px, -0.227rem + 13.64vw, 160px);
  }
}
.header__title {
  margin-bottom: 5px;
}

.header__subtitle {
  font-size: clamp(20px, 1.159rem + 0.45vw, 24px);
  font-weight: 500;
  line-height: 110%;
}

.header__search {
  border-radius: 30px;
  padding: 20px;
  width: 100%;

  margin-top: clamp(25px, 0.767rem + 3.98vw, 60px);

  background: $colorWhite;

  column-gap: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.header__search_input {
  padding: 10px 20px;

  box-sizing: border-box;
  border: 0.5px solid rgba(222, 156, 142, 0.5);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__search_input-city {
}
.header__search_input_text {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.header__search_input-placeholder {
  color: rgb(98, 98, 98);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.header__search_input-answer {
  color: rgb(43, 54, 64);
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
}
.header__search_input_arrow {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
  }
}

.header__search_button {
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
    border: 1px solid rgb(222, 156, 142);
    border-radius: 20px;
    background: rgb(222, 156, 142);

    font-size: 20px;
    font-weight: 550;
    line-height: 110%;

    transition: background 0.2s, color 0.2s;

    &:hover {
      background: rgb(255, 255, 255);
      color: rgb(222, 156, 142);
    }
  }
}

@include mediaTablet {
  .header__search {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .header__title {
    text-align: center;
  }

  .header__subtitle {
    text-align: center;
  }

  .header__search_button {
    button {
      padding: 10px;
    }
  }
}
